$application-sprite: sprite-map("application/*.png");

#mario {
  background-image: sprite-url($application-sprite);
  background-position: sprite-position($application-sprite, "mario");
  width: sprite-width($application-sprite, "mario");
  height: sprite-height($application-sprite, "mario");
  color: #000;
}
