$foo-sprite: spritely-map("foo/*.png", $spacing: 5px);

#foo {
  background-image: spritely-url($foo-sprite);
  background-position: spritely-position($foo-sprite, "fool");
  width: spritely-width($foo-sprite, "fool");
  height: spritely-height($foo-sprite, "fool");
}
