body {
  background-image: spritely-url("application");
  background-position: spritely-position("application", "background");
}

#mario {
  background-image: spritely-url("application");
  background-position: spritely-position("application", "mario");
  width: spritely-width("application", "mario");
  height: spritely-height("application", "mario");
}
